@keyframes dropDown {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes dropUp {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}